<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Portal de Perguntas</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
                <a href="/allquests" class="navbar-brand">Portal perguntas</a>
            <div class="navbar-nav">
                <a class="btn btn-outline-success" aria-current="page" href="/formulario">Perguntar</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card text-white bg-dark">
            <div class="card-header">
                <h1>Faça sua pergunta</h1>
            </div>
        </div>
      </div>
    <div class="container">
        <form action="/formulario" method="post">
            <div class="mb-3">
             <label for="exampleFormControlInput1" class="form-label" >Seu nome</label>
              <input type="text" class="form-control" id="exampleFormControlInput1" name="nome"  required>
            </div>
            <div class="mb-3">
             <label for="exampleFormControlInput1" class="form-label">Titulo</label>
              <input type="text" class="form-control" id="exampleFormControlInput1"  name="titulo" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label" >Descrição</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="descricao"></textarea>
            </div>
            <a href="/allquests"><input type="submit" class="btn btn-success"></a>
        </form>
    </div>
</body>
</html>