<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>Portal de Perguntas</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
          <a href="/allquests" class="navbar-brand">Portal perguntas</a>
        <div class="navbar-nav">
            <a class="btn btn-outline-success" aria-current="page" href="/formulario">Perguntar</a>
        </div>
    </div>
</nav>
<div class="container">
  <div class="card">
      <div class="card-header">
          <h1><%= pergunta.titulo%></h1>
      </div>
      <div class="card-body">
          <p class="card-text"><%= pergunta.descricao %></p>
        </div>
    </div>
</div>